<section class="d-flex text-center text-white bg-dark home">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
        <main class="px-7 mt-auto">
            <h1>GetXP</h1>
            <p class="lead"> Do not let lack of work experience stand in your way! <br> Get access and work on real-world projects, improving your skills and profiles.<br>
                This website is an assignment for Internship at GetXp made by Rishabh Bafna</p>
            <a href="/register" class="btn btn-h fs-5">Register</a>
            <a href="/colleges" class="btn btn-h fs-5">View College List</a>
        </main>
        <footer class="mt-auto text-white-50">
            <p>&copy; Rishabh Bafna 2021 </p>
        </footer>
    </div>
</section>