
<section class="Form mx-5 my-4">
    <div class="container">
        <div class="row g-0 main">
            <div class="col-lg-5">
                <img src="https://source.unsplash.com/vbj1mKlJBzg/1000x1100" class="img-fluid" alt="">
            </div>
            <div class="col-lg-7 px-5 pt-4">
                <h1 class="font-weight-bold py-3">GetXP</h1>
                <h4>Fill up the form to get Sign Up</h4>
                <form action="/register" method="POST" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-lg-5">
                            <input type="text" class="form-control my-3" placeholder="FIRST NAME" name="firstname" aria-label="First name" required>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control my-3" placeholder="LAST NAME" name="lastname" aria-label="First name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <input type="email" class="form-control" placeholder="EMAIL" name="email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <input type="text" class="form-control my-3" placeholder="CONTACT NO." name="contact" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <input type="text" class="form-control " placeholder="COLLEGE NAME" name="collegeName" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <input type="text" class="form-control my-3" placeholder="YEAR OF GRADUATION" name="yearGrad" required>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control my-3" placeholder="CITY" name="city" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-10">
                            <button type="submit" class="btn ">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

